*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(95, 35, 184);
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.cards{
    width: 200px;
    height:200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border-radius: 10px;
    margin: 10px;


 
}

.scrollbar{
    background-color: blue;
    /* width: 100%; */
    position: fixed;
    height: 20px;
    top: 0;
    left: 0;


}